@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

:root {
    --primary-color: #4b94b1;
    --secondary-color: #d9dad2;
    --accent1-color: #112142;
    --accent2-color: #f3f0e8;
    --heading-font: "Raleway", Helvetica, sans-serif;
    --paragraph-font: "Lato", Helvetica, sans-serif
}
html {
    background-color: var(--accent2-color);
}
body{
    background-color: var(--accent2-color);
    font-size: 16px;
}
header, main, footer {
    max-width: 960px;
    margin: 0 auto;
}

header {
    color: var(--accent2-color);
    background-color: var(--primary-color);
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img{
    width: 80px;
    height: auto;
}
h1 {
    font-family: var(--heading-font);
    font-size: 2em;
}

nav {
        background-color: var(--primary);
        font-family: sans-serif;
        line-height: 1em;
        text-align: left;
        font-size: 1.2em;
    }
nav>ul {
    list-style-type: none;
    display: flex;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

nav a:link, nav a:visited {
    color: var(--secondary-color);
}
nav a {
    padding: 10px;
    min-width: 10px;
}

main {
    font-family: var(--paragraph-font);
    color: var(--accent1-color)
}
.bonner-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner {
    height: auto;
    width: 960px;
    grid-column: 1 / -1;
    grid-row: 1;
    border: 1px solid var(--accent1-color);
    box-shadow: 5px 5px 5px rgb(87, 87, 87);
}
.action {
    grid-column: 1;
    grid-row: 1;
    background-color: rgba(240, 240, 240, .5);
    margin: 7em 6em;
    text-align: center;
}
.action button {
    line-height: 2em;
    width: 10em;
    background-color: var(--secondary-color);
    font-size: 1.2em;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-gap: 30px;
    place-items: center;
    padding: 30px;
}
main{
    font-family: var(--paragraph-font);
    color: var(--accent1-color)
}
#img1, #img2 {
    border: 1px solid var(--accent1-color);
    box-shadow: 5px 5px 5px rgb(87, 87, 87);
}
h2 {
    font-family: var(--heading-font);
    font-size: 1.7em;
    color: var(--primary-color);
    text-align: center;
}
.family-search {
    grid-column: 1/3;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    color: var(--accent2-color);
    background-color: var(--primary-color);
}
#contact-info {
    grid-column: 1;
    place-items: center;
}
#socialmedia {
    grid-column: 2;
    place-items: center;
}*/
#copyright {
    grid-column: 1/3;
}
@media screen and (max-width: 550px) {
    .main-content, footer {
      display: block;
    }
  }



/*
section img {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
}

.hero img {
    width:100%;
    height: auto;
}
.action {
    display: flex;
    justify-content: center; 
}

section img {
    width: 30%;
    height: auto;
    padding: 1rem;
}
section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.section1 {
    grid-column:;
}
.section2 {
    grid-column:;
}
.section3 {
    grid-column:;
}

img {
    width: 50px;
    height: 50px;
    padding: 1rem;
}

h1 {
    font-family: var(--heading-font);
    color: var(--accent2-color); 
}

header>h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 3rem;
}

header>h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    font-size: 1.5rem;
    padding: 1rem;
}

p {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
}

footer{
    padding: 1rem;
    color: var(--accent2-color);
    background-color: var(--primary-color);
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around
}
.copyright {
    font-size: .8rem;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
nav {
    line-height: 3em;
    text-align: center;
    font-size: 1.2em
}

nav>ul {
    list-style-type: none;
    display: flex
}

nav a {
    padding: 1em;
    min-width: 70px
}

nav a:link {
    color: #FF0000;
}
nav a:visited {
    color: var(--primary-color);
}

nav a:hover {
    color: var(--secondary-color);
}

nav a:active {
    color: #FF00FF;
}
*/